doctype 5
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8 preload"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 preload"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js preload"> <!--<![endif]-->

-var siteUrl = "http://localhost:9000"

head
  title Prototype
  meta(name="description", content="")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(http-equiv="cleartype", content="on")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  //- iOS touch icons
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="#{siteUrl}/assets/img/touch/apple-touch-icon-144x144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="#{siteUrl}/assets/img/touch/apple-touch-icon-114x114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="#{siteUrl}/assets/img/touch/apple-touch-icon-72x72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="#{siteUrl}/assets/img/touch/apple-touch-icon-precomposed.png")
    link(rel="shortcut icon", href="#{siteUrl}/assets/img/touch/apple-touch-icon-precomposed.png")

  //- iOS app settings
    meta(name="apple-mobile-web-app-capable", :content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", :content="black")
    meta(name="apple-mobile-web-app-title", :content="Prototype")

  // build:css({.tmp,app}) assets/css/style.css
  link(href="/assets/css/style.css", rel="stylesheet", type="text/css")
  // endbuild

  // @if development 
  script(src="/assets/vendor/modernizr/modernizr.js")
  // @endif

  script var siteUrl = "#{siteUrl}";
  // build:js({,app}) assets/js/head.js
  // @if production 
  script(src="/assets/js/vendor/modernizr-custom.js")
  // @endif
  script(src="/assets/vendor/respond/respond.src.js")
  script(src="/assets/vendor/enquire/dist/enquire.js")
  script(src="/assets/js/scripts-head.js")
  script(src="/assets/js/head.js")
  // endbuild

  //- NOTE: If Modernizr isn't used, remember:
    script(src="/assets/vendor/matchmedia/matchMedia.js")
    script(src="/assets/vendor/matchmedia/matchMedia.addListener.js")
    //if lte IE 8
      script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")

body
  //if lt IE 8
      p.notifyframe You are using an <strong>outdated</strong> browser. <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to improve your experience.
  noscript(class="jsframe notifyframe") <strong>Your JavaScript is disabled!</strong> <a href="http://enable-javascript.com/">Please activate it</a>

  h1 Prototype

  footer

  // @if development 
  script(src="/assets/js/vendor/jquery.min.js")
  // @endif 

  // @if production 
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script window.jQuery || document.write('<script src="'+siteUrl+'/assets/js/vendor/jquery.min.js"><\/script>')
  // @endif 

  // build:js({,app}) assets/js/app.js
  script(src="/assets/vendor/fastclick/lib/fastclick.js")
  script(src="/assets/js/scripts.js")
  script(src="/assets/js/app.js")
  // endbuild

  // @if production 
  script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  // @endif 
