    <!-- build:js(../) {{assets}}/javascripts/app.min.js -->
      {{!-- Defaults --}}
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/fastclick/lib/fastclick.js"></script>
      <script src="/bower_components/lazysizes/lazysizes.js"></script>
      <script src="/assets/javascripts/components/Toggle.js"></script>
      <script src="/assets/javascripts/app.js"></script>

      {{!-- Components --}}
      <script src="/assets/javascripts/components/navbar/Navbar.js"></script>
      <script src="/assets/javascripts/components/hero/Hero.js"></script>

      {{!-- Docs --}}
      <script src="/assets/javascripts/docs/components/Docs.Navbar.js"></script>
      <script src="/assets/javascripts/docs/docs.js"></script>
    <!-- endbuild -->

    {{#if page.javascripts}}
      <!-- build:js(src) {{assets}}/javascripts/{{page.title}}.min.js -->
        {{#each page.javascripts}}
          <script src="{{../assets}}/javascripts/{{../page.resourcePath}}{{.}}.js"></script>
        {{/each}}
      <!-- endbuild -->
    {{/if}}

    {{#if page.bottomScript}}
      <script>
        {{page.bottomScript}}
      </script>
    {{/if}}

    <script>
      App.Navbar.init();
      App.Hero.init();
    </script>
  </body>
</html>
