    <!-- build:js(../) {{assets}}/javascripts/app.min.js -->
      {{!-- Bower --}}
      <script src="/bower_components/jquery/dist/jquery.js"></script>
      <script src="/bower_components/fastclick/lib/fastclick.js"></script>
      <script src="/bower_components/lazysizes/lazysizes.js"></script>
      <script src="/bower_components/lazysizes/plugins/respimg/ls.respimg.js"></script>

      {{!-- Helpers and plugins --}}
      <script src="/assets/javascripts/plugins/toggle.js"></script>
      <script src="/assets/javascripts/helpers/figureImgAsBg.js"></script>

      {{!-- Components --}}
      <script src="/assets/javascripts/components/navbar/Navbar.js"></script>
      <script src="/assets/javascripts/components/hero/Hero.js"></script>
      <script src="/assets/javascripts/components/block/Block.js"></script>

      {{!-- Init --}}
      <script src="/assets/javascripts/app.js"></script>

      {{!-- Docs --}}
      <script src="/assets/javascripts/docs/components/docs.Navbar.js"></script>
      <script src="/assets/javascripts/docs/docs.js"></script>
    <!-- endbuild -->

    {{#if page.javascripts}}
      <!-- build:js(src) {{assets}}/javascripts/{{page.title}}.min.js -->
        {{#each page.javascripts}}
          <script src="{{../assets}}/javascripts/{{../page.resourcePath}}{{.}}.js"></script>
        {{/each}}
      <!-- endbuild -->
    {{/if}}

    {{#if page.bottomScript}}
      <script>
        {{page.bottomScript}}
      </script>
    {{/if}}

    <script>
      app.Navbar.init();
      app.Hero.init();
      app.Block.init();
    </script>
  </body>
</html>
