<aside class="docs-Aside">
  <nav class="docs-Aside-navbar Navbar Navbar--stacked js-NavbarStacked">
    <div class="Navbar-ctrl">
      <div class="Navbar-ctrl-trigger">
        <i class="Navbar-ctrl-trigger-icon"></i>
      </div>
    </div>
    <ul>
      {{#each content as |item|}}

        <li class="Navbar-item {{#if (is title ../title)}}is-active{{/if}}">
          <a class="Navbar-link" href="{{#if ../path}}{{../../path}}{{else}}{{path}}{{/if}}/{{dashcase title}}">
            {{#if (is title ../title)}}&darr;{{/if}} {{title}}
          </a>

          {{#if item.pages}}
            <ul class="Navbar-sub">
              {{#each item.pages}}
                <li class="Navbar-item">
                  <a class="Navbar-link" href="{{item.path}}/{{dashcase title}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}

          {{#if item.toc}}
            <ul class="Navbar-sub">
              {{#each item.toc as |subItem|}}
                <li class="Navbar-item">
                  <a class="Navbar-link" href="#{{dashcase subItem}}">{{subItem}}</a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </li>

      {{/each}}
    </ul>
  </nav>
</aside>
