<header class="docs-Header Header">

  <nav class="docs-Header-navbarPrimary Navbar Navbar--default -xs-expand js-NavbarDefault">
    <a href="" class="Navbar-logo">
      Rebirth <sub class="Navbar-logo-version">v{{version}}-beta</sub>
    </a>
    <div class="Navbar-ctrl">
      <div class="Navbar-ctrl-trigger">
        <i class="Navbar-ctrl-trigger-icon"></i>
      </div>
    </div>
    <ul>
      <li class="Navbar-item">
        <a class="Navbar-link" href="docs/getting-started/introduction/">
          Docs
        </a>
      </li>
      <li class="Navbar-item">
        <a class="Navbar-link" href="styleguide/overview">
          Styleguide
        </a>
      </li>
      <li class="Navbar-item">
        <a class="Navbar-link" href="https://github.com/joonassandell/rebirth">Github</a>
      </li>
      {{!-- <li class="Navbar-item">
        <a class="Navbar-link" href="examples/">Examples</a>
      </li>
      <li class="Navbar-item">
        <a class="Navbar-link" href="about/">About</a>
      </li> --}}
    </ul>
  </nav>

  {{#if content }}
    <nav class="docs-Header-navbarSecondary Navbar Navbar--default -m-expand js-NavbarDefault">
      <div class="Navbar-ctrl">
        <div class="Navbar-ctrl-trigger">
          <i class="Navbar-ctrl-trigger-icon"></i>
        </div>
      </div>
      <ul>
        {{#each content as |item|}}
          <li class="Navbar-item{{#each item.pages}} {{#if (isActive ../../title item.path)}}is-active{{/if}}{{/each}}">
            <a class="Navbar-link" href="{{path}}/{{dashcase item.pages.0.title}}">{{title}}</a>
            {{#if item.pages.0.title}}
              <span class="Navbar-trigger">
                <i class="Navbar-trigger-icon"></i>
              </span>
              <ul class="Navbar-sub">
                {{#each item.pages}}
                <li class="Navbar-item {{#if (isActive title item.path)}}is-active{{/if}}">
                  <a class="Navbar-link" href="{{item.path}}/{{dashcase title}}">{{title}}</a>
                </li>
                {{/each}}
              </ul>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </nav>
  {{/if}}

</header>
