<!DOCTYPE html>
<html class="no-js docs">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}} - {{/if}}{{app.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{app.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{#if production}}
      <link href="{{assets}}/stylesheets/app.min.css" rel="stylesheet">
    {{else}}
      <link href="{{assets}}/stylesheets/app.css" rel="stylesheet">
    {{/if}}

    {{#if production}}
      <script src="{{assets}}/javascripts/head.min.js"></script>
    {{else}}
      <script src="{{assets}}/.tmp/modernizr.js"></script>
      <script src="{{assets}}/javascripts/head.js"></script>
    {{/if}}
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="IeFrame">Hei, k채yt채t <strong>tietoturvatonta</strong> selainta. <a href="http://browsehappy.com/">P채ivit채 uuteen selaimeen</a>, kiitokset!</p>
    <![endif]-->
