<!DOCTYPE html>
<html class="no-js docs">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}} - {{/if}}{{app.title}}</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="{{app.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{#if production}}
      <link rel="dns-prefetch" href="//ajax.googleapis.com">
      <script src="{{assets}}/javascripts/head.min.js"></script>
      <link href="{{assets}}/stylesheets/app.min.css" rel="stylesheet">
    {{else}}
      <script src="{{assets}}/.tmp/modernizr.js"></script>
      <script src="{{assets}}/javascripts/head.js"></script>
      <link href="{{assets}}/stylesheets/app.css" rel="stylesheet">
    {{/if}}

  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="IeFrame">Hei, k채yt채t <strong>tietoturvatonta</strong> selainta. <a href="http://browsehappy.com/">P채ivit채 uuteen selaimeen</a>, kiitokset!</p>
    <![endif]-->
