<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}} - {{/if}}{{app.title}}</title>
    <meta name="description" content="{{app.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{#if dev}}
      <script src="{{assets}}/javascripts/modernizr.js"></script>
    {{/if}}

    <script src="{{assets}}/javascripts/head.js"></script>
    <link href="{{assets}}/stylesheets/app.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="IeFrame">Hei, k채yt채t <strong>tietoturvatonta</strong> selainta. <a href="http://browsehappy.com/">P채ivit채 uuteen selaimeen</a>, kiitokset!</p>
    <![endif]-->
