<!DOCTYPE html>
<html class="no-js docs">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}}{{title}} - {{/if}}{{docs.title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{docs.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {{#if production}}
      <link rel="dns-prefetch" href="//ajax.googleapis.com">
      <script src="{{assets}}/javascripts/head.min.js"></script>
      <link href="{{assets}}/stylesheets/docs.min.css" rel="stylesheet">
    {{else}}
      <script src="{{assets}}/.tmp/modernizr.js"></script>
      <script src="{{assets}}/javascripts/head.js"></script>
      <script src="{{assets}}/javascripts/docs.head.js"></script>
      <link href="{{assets}}/stylesheets/docs.css" rel="stylesheet">
    {{/if}}
      <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    {{#if stylesheets}}
      {{#each stylesheets}}
        <link href="{{../assets}}/stylesheets/{{../page.resourcePath}}{{.}}.css" rel="stylesheet">
      {{/each}}
    {{/if}}
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="IeFrame">Hei, k채yt채t <strong>tietoturvatonta</strong> selainta. <a href="http://browsehappy.com/">P채ivit채 uuteen selaimeen</a>, kiitokset!</p>
    <![endif]-->
