<!DOCTYPE html>
<html class="no-js docs">
  <head>
    <meta charset="utf-8">
    <title>{{#if title}} {{../title}} - {{/if}}{{docs.title}}</title>
    <meta name="description" content="{{docs.description}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="{{assets}}/javascripts/docs.head.js"></script>
    <link href="{{assets}}/stylesheets/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>
  <body>
  <!--[if lte IE 9]>
    <p class="IeFrame">Hi, you are using <strong>outdated browser</strong>. For a better experience keep your browser up to date. <a href="http://outdatedbrowser.com/">Check here for latest versions</a>, Thank you!</p>
  <![endif]-->
